::-webkit-scrollbar {
   width: 7px;
   height: 8px;
   position: absolute;
}

::-webkit-scrollbar-button {
   width: 0;
   height: 0;
}

::-webkit-scrollbar-thumb {
   background: #00000075;
   border-radius: 100px;
   -webkit-transition: all 0.3s ease-in;
   transition: all 0.3s ease-in;
}

::-webkit-scrollbar-thumb:hover {
   background: #000000ad;
   -webkit-transition: all 0.3s ease-in;
   transition: all 0.3s ease-in;
}

::-webkit-scrollbar-thumb:active {
   background: rgb(0, 0, 0) ad;
   -webkit-transition: all 0.3s ease-in;
   transition: all 0.3s ease-in;
}

::-webkit-scrollbar-track {
   background: #0000;
   border-radius: 100px;
}

::-webkit-scrollbar-track:hover {
   background: #0000;
}

::-webkit-scrollbar-track:active {
   background: #0000;
}

::-webkit-scrollbar-corner {
   background: 0 0;
}

html.lenis {
   height: auto;
}

.lenis.lenis-smooth {
   scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
   overscroll-behavior: contain;
}

.lenis.lenis-stopped {
   overflow: hidden;
}

.lenis.lenis-scrolling iframe {
   pointer-events: none;
}
